<fieldset>
    <legend>COMPARATIVO</legend>
    <div id="wizard_comparativo">
        <div class="navbar">
            <div class="navbar-inner">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="#tab_a_1" role="tab" data-toggle="tab">Grupo Benner</a></li>
                        <li role="presentation"><a href="#tab_a_2" role="tab" data-toggle="tab">Operadoras de Saúde</a></li>
                        <li role="presentation"><a href="#tab_a_3" role="tab" data-toggle="tab">Hospitalar</a></li>
                        <li role="presentation"><a href="#tab_a_4" role="tab" data-toggle="tab">Gestão de Sinistro</a></li>
                        <li role="presentation"><a href="#tab_a_5" role="tab" data-toggle="tab">Sistemas</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane" id="tab_a_1">
<!-- BEGIN FIELDSET -->
{% include 'partials/form/fieldset.comparativo/fieldset.grupobenner.twig' %}
<!-- END FIELDSET -->
            </div>

            <div class="tab-pane" id="tab_a_2">
<!-- BEGIN FIELDSET -->
{% include 'partials/form/fieldset.comparativo/fieldset.operadorasdesaude.twig' %}
<!-- END FIELDSET -->
            </div>

            <div class="tab-pane" id="tab_a_3">
<!-- BEGIN FIELDSET -->
{% include 'partials/form/fieldset.comparativo/fieldset.hospitalar.twig' %}
<!-- END FIELDSET -->
            </div>

            <div class="tab-pane" id="tab_a_4">
<!-- BEGIN FIELDSET -->
{% include 'partials/form/fieldset.comparativo/fieldset.gestaodesinistro.twig' %}
<!-- END FIELDSET -->
            </div>

            <div class="tab-pane" id="tab_a_5">
                TAB A 5
            </div>
        </div>
    </div>
</fieldset>