{% extends "base.twig" %}

{% set title = ["Editar", "Kpi"]|join(' / ') %}
{% block title %}{{ title }}{% endblock %}

{% block head %}
    {{ parent() }}
    <link href="/assest/libs/twitter-bootstrap-wizard/prettify.css" rel="stylesheet">
    <script src="/assest/libs/twitter-bootstrap-wizard/prettify.js"></script>

    <script src="/assest/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

    <script src="/assest/libs/jQuery-Mask-Plugin/dist/jquery.mask.min.js"></script>
    <script src="/assest/libs/plentz-jquery-maskmoney/dist/jquery.maskMoney.min.js"></script>

    <script src="/assest/libs/NumericInput/numericInput.min.js"></script>

    <!-- CUSTOM -->
    <link href="/assest/custom/css/kpi.form.css" rel="stylesheet">
    <script src="/assest/custom/js/kpi.form.js"></script>
{% endblock %}

{% block content %}

    {% include 'title.partial.twig' %}

    <div class="row">
        <div class="col-md-12">

            <form action="{{ path_for('kpi.edit', {'id' : kpi.getId()}) }}" method="post">

                <!-- BEGIN / FIELDSET - Informações -->
                {% include 'kpi/partials/fieldset.information.twig' %}
                <!-- END / FIELDSET - Informações -->

                <!-- BEGIN / FIELDSET - Período -->
                {% include 'kpi/partials/fieldset.period.twig' %}
                <!-- END / FIELDSET - Período -->

                <!-- BEGIN / FIELDSET - Comparativo -->
                <fieldset>
                    <legend>COMPARATIVO</legend>
                    <div id="wizard_comparativo">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <div>
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation"><a href="#tab_a_1" role="tab" data-toggle="tab">Grupo Benner</a></li>
                                        <li role="presentation"><a href="#tab_a_2" role="tab" data-toggle="tab">Operadoras de Saúde</a></li>
                                        <li role="presentation"><a href="#tab_a_3" role="tab" data-toggle="tab">Hospitalar</a></li>
                                        <li role="presentation"><a href="#tab_a_4" role="tab" data-toggle="tab">Gestão de Sinistro</a></li>
                                        <li role="presentation"><a href="#tab_a_5" role="tab" data-toggle="tab">Sistemas</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_a_1">
                                <!-- BEGIN / FIELDSET - Comparativo / Grupo Benner -->
                                {% include 'kpi/partials/fieldset.comparative.groupbenner.twig' %}
                                <!-- END / FIELDSET - Comparativo / Grupo Benner -->
                            </div>

                            <div class="tab-pane" id="tab_a_2">
                                <!-- BEGIN / FIELDSET - Comparativo / Operadoras de Saúde -->
                                {% include 'kpi/partials/fieldset.comparative.healthoperators.twig' %}
                                <!-- END / FIELDSET - Comparativo / Operadoras de Saúde -->
                            </div>

                            <div class="tab-pane" id="tab_a_3">
                                <!-- BEGIN / FIELDSET - Comparativo / Hospitalar -->
                                {% include 'kpi/partials/fieldset.comparative.hospital.twig' %}
                                <!-- END / FIELDSET - Comparativo / Hospitalar -->
                            </div>

                            <div class="tab-pane" id="tab_a_4">
                                <!-- BEGIN / FIELDSET - Comparativo / Gestão de Sinistro -->
                                {% include 'kpi/partials/fieldset.comparative.ominousmanagement.twig' %}
                                <!-- END / FIELDSET - Comparativo / Gestão de Sinistro -->
                            </div>

                            <div class="tab-pane" id="tab_a_5">
                                <!-- BEGIN / FIELDSET - Comparativo / Sistemas -->
                                {% include 'kpi/partials/fieldset.comparative.systems.twig' %}
                                <!-- END / FIELDSET - Comparativo / Sistemas -->
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- END / FIELDSET - Comparativo -->

                <!-- BEGIN / FIELDSET - Orçado X Realizado -->
                <fieldset>
                    <legend>ORÇADO X REALIZADO</legend>
                    <div id="wizard_orcado_realizado">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <div>
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation"><a href="#tab_b_1" role="tab" data-toggle="tab">Grupo Benner</a></li>
                                        <li role="presentation"><a href="#tab_b_2" role="tab" data-toggle="tab">Operadoras de Saúde</a></li>
                                        <li role="presentation"><a href="#tab_b_3" role="tab" data-toggle="tab">Hospitalar</a></li>
                                        <li role="presentation"><a href="#tab_b_4" role="tab" data-toggle="tab">Gestão de Sinistro</a></li>
                                        <li role="presentation"><a href="#tab_b_5" role="tab" data-toggle="tab">Sistemas</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_b_1">
                                <!-- BEGIN / FIELDSET - Comparativo / Grupo Benner -->
                                {% include 'kpi/partials/fieldset.budgeted.groupbenner.twig' %}
                                <!-- END / FIELDSET - Comparativo / Grupo Benner -->
                            </div>

                            <div class="tab-pane" id="tab_b_2">
                                <!-- BEGIN / FIELDSET - Comparativo / Operadoras de Saúde -->
                                {% include 'kpi/partials/fieldset.budgeted.healthoperators.twig' %}
                                <!-- END / FIELDSET - Comparativo / Operadoras de Saúde -->
                            </div>

                            <div class="tab-pane" id="tab_b_3">
                                <!-- BEGIN / FIELDSET - Comparativo / Hospitalar -->
                                {% include 'kpi/partials/fieldset.budgeted.hospital.twig' %}
                                <!-- END / FIELDSET - Comparativo / Hospitalar -->
                            </div>

                            <div class="tab-pane" id="tab_b_4">
                                <!-- BEGIN / FIELDSET - Comparativo / Gestão de Sinistro -->
                                {% include 'kpi/partials/fieldset.budgeted.ominousmanagement.twig' %}
                                <!-- END / FIELDSET - Comparativo / Gestão de Sinistro -->
                            </div>

                            <div class="tab-pane" id="tab_b_5">
                                <!-- BEGIN / FIELDSET - Comparativo / Sistemas -->
                                {% include 'kpi/partials/fieldset.budgeted.systems.twig' %}
                                <!-- END / FIELDSET - Comparativo / Sistemas -->
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- END / FIELDSET - Orçado X Realizado -->

                <!-- BEGIN / FIELDSET - Colaboradores -->
                {% include 'kpi/partials/fieldset.employees.twig' %}
                <!-- END / FIELDSET - Colaboradores -->
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-default" value="Salvar">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}